# This notebook is used to copy the bicycle crash data (KSI) found [here](https://www.nyc.gov/html/dot/html/bicyclists/bikestats.shtml)

In [1]:
import pandas as pd
import numpy as np

## Data from the Bicyclist-Motor-incidents for years 2014-2016:

In [2]:
table14_Manhattan_BM = "Manhattan 1 73 74 0 0 0 \
Manhattan 5 84 84 0 1 0 \
Manhattan 6 53 54 0 0 0 \
Manhattan 7 50 49 1 0 0 \
Manhattan 9 85 86 0 0 0 \
Manhattan 10 41 41 0 0 0 \
Manhattan 13 129 129 0 1 0 \
Manhattan 14 95 95 0 2 0 \
Manhattan 17 62 62 0 0 0 \
Manhattan 18 76 76 0 0 0 \
Manhattan 19 93 93 0 1 0 \
Manhattan 20 40 40 0 0 0 \
Manhattan 22 7 7 0 0 0 \
Manhattan 23 24 22 2 0 0 \
Manhattan 24 47 46 1 0 0 \
Manhattan 25 26 26 0 1 0 \
Manhattan 26 36 36 0 0 0 \
Manhattan 28 50 49 1 3 0 \
Manhattan 30 21 21 0 0 0 \
Manhattan 32 24 25 0 0 0 \
Manhattan 33 24 24 0 0 0 \
Manhattan 34 48 48 0 0 0"

table14_Bronx_BM = "Bronx 40 43 43 0 1 0 \
Bronx 41 23 23 0 0 0 \
Bronx 42 31 31 0 0 0 \
Bronx 43 56 56 1 0 0 \
Bronx 44 42 42 0 0 0 \
Bronx 45 31 31 0 1 0 \
Bronx 46 34 34 0 0 0 \
Bronx 47 25 25 0 1 0 \
Bronx 48 39 39 0 0 0 \
Bronx 49 41 41 0 0 0 \
Bronx 50 19 19 0 0 0 \
Bronx 52 32 32 0 2 0"

table14_Brooklyn_BM = "Brooklyn 60 42 43 0 0 0 \
Brooklyn 61 69 72 1 1 0 \
Brooklyn 62 70 70 0 0 0 \
Brooklyn 63 32 32 0 0 0 \
Brooklyn 66 89 89 0 0 0 \
Brooklyn 67 59 61 0 2 0 \
Brooklyn 68 40 40 0 1 0 \
Brooklyn 69 19 19 0 0 0 \
Brooklyn 70 93 93 0 0 0 \
Brooklyn 71 46 45 1 0 0 \
Brooklyn 72 75 75 0 0 0 \
Brooklyn 73 31 30 1 0 0 \
Brooklyn 75 79 83 0 1 0 \
Brooklyn 76 17 17 0 1 0 \
Brooklyn 77 69 69 0 0 0 \
Brooklyn 78 81 81 0 0 0 \
Brooklyn 79 86 86 0 2 0 \
Brooklyn 81 45 44 1 3 0 \
Brooklyn 83 81 81 0 3 0 \
Brooklyn 84 54 53 1 0 0 \
Brooklyn 88 83 83 0 0 0 \
Brooklyn 90 177 176 1 3 0 \
Brooklyn 94 68 69 0 2 0"

table14_Queens_BM = "Queens 100 10 10 0 0 0 \
Queens 101 17 17 0 1 0 \
Queens 102 45 46 1 0 0 \
Queens 103 42 42 0 0 0 \
Queens 104 57 57 0 0 0 \
Queens 105 47 45 2 6 0 \
Queens 106 33 34 0 1 0 \
Queens 107 26 26 0 0 0 \
Queens 108 114 114 0 1 0 \
Queens 109 54 53 1 0 0 \
Queens 110 79 78 1 0 0 \
Queens 111 13 13 0 0 0 \
Queens 112 20 19 1 0 0 \
Queens 113 39 38 1 1 0 \
Queens 114 123 122 1 1 0 \
Queens 115 93 94 0 2 0"

table14_StatenIsland_BM = "StatenIsland 120 29 29 0 1 0 \
StatenIsland 121 15 15 0 0 0 \
StatenIsland 122 15 15 0 0 0 \
StatenIsland 123 1 1 0 0 0"

In [3]:
table15_Manhattan_BM = "Manhattan 1 90 91 0 0 0 \
Manhattan 5 73 75 0 3 0 \
Manhattan 6 58 60 0 0 0 \
Manhattan 7 51 51 0 1 0 \
Manhattan 9 86 87 0 1 0 \
Manhattan 10 51 51 0 0 0 \
Manhattan 13 136 136 0 0 0 \
Manhattan 14 94 94 0 0 0 \
Manhattan 17 108 108 0 0 0 \
Manhattan 18 104 106 0 0 0 \
Manhattan 19 111 111 0 2 0 \
Manhattan 20 50 51 0 0 0 \
Manhattan 22 5 5 0 0 0 \
Manhattan 23 37 37 0 1 0 \
Manhattan 24 40 40 0 0 0 \
Manhattan 25 38 37 1 1 0 \
Manhattan 26 19 20 0 0 0 \
Manhattan 28 42 42 0 1 0 \
Manhattan 30 27 28 0 0 0 \
Manhattan 32 29 30 1 0 0 \
Manhattan 33 28 28 0 0 0 \
Manhattan 34 36 36 0 0 0"

table15_Bronx_BM = "Bronx 40 58 59 0 3 0 \
Bronx 41 21 21 0 1 0 \
Bronx 42 32 32 0 0 0 \
Bronx 43 32 32 0 1 0 \
Bronx 44 60 59 1 0 0 \
Bronx 45 26 25 1 0 0 \
Bronx 46 43 45 0 0 0 \
Bronx 47 37 37 0 0 0 \
Bronx 48 42 42 0 1 0 \
Bronx 49 39 39 0 0 0 \
Bronx 50 29 29 0 0 0 \
Bronx 52 35 35 0 1 0"

table15_Brooklyn_BM = "Brooklyn 60 29 29 0 1 0 \
Brooklyn 61 73 73 0 0 0 \
Brooklyn 62 58 58 0 1 0 \
Brooklyn 63 20 20 0 0 0 \
Brooklyn 66 122 122 0 1 0 \
Brooklyn 67 79 80 0 2 0 \
Brooklyn 68 41 42 0 0 0 \
Brooklyn 69 19 19 0 2 0 \
Brooklyn 70 117 119 1 1 0 \
Brooklyn 71 51 52 0 0 0 \
Brooklyn 72 71 72 1 0 0 \
Brooklyn 73 39 39 0 0 0 \
Brooklyn 75 87 90 0 0 0 \
Brooklyn 76 34 33 1 0 0 \
Brooklyn 77 59 60 0 2 0 \
Brooklyn 78 74 73 1 8 0 \
Brooklyn 79 102 102 0 1 0 \
Brooklyn 81 64 64 0 0 0 \
Brooklyn 83 84 84 0 1 0 \
Brooklyn 84 55 55 0 0 0 \
Brooklyn 88 99 99 0 1 0 \
Brooklyn 90 177 177 0 3 0 \
Brooklyn 94 90 90 0 1 0"

table15_Queens_BM = "Queens 100 14 14 0 0 0 \
Queens 101 17 16 1 1 0 \
Queens 102 59 59 0 1 0 \
Queens 103 33 33 0 0 0 \
Queens 104 102 102 0 1 0 \
Queens 105 43 44 0 2 0 \
Queens 106 44 44 1 0 0 \
Queens 107 24 24 0 0 0 \
Queens 108 117 116 2 2 0 \
Queens 109 77 77 0 1 0 \
Queens 110 94 96 0 0 0 \
Queens 111 24 24 0 0 0 \
Queens 112 34 34 0 0 0 \
Queens 113 46 46 0 0 0 \
Queens 114 111 110 1 3 0 \
Queens 115 106 108 0 0 0"

table15_StatenIsland_BM = "StatenIsland 120 16 16 0 1 0 \
StatenIsland 121 21 21 0 0 0 \
StatenIsland 122 13 13 1 0 0 \
StatenIsland 123 5 5 0 0 0"

In [4]:
table16_Manhattan_BM = "Manhattan 1 88 87 1 2 0 \
Manhattan 5 81 81 0 0 0 \
Manhattan 6 60 60 0 1 0 \
Manhattan 7 45 46 0 0 0 \
Manhattan 9 84 84 0 3 0 \
Manhattan 10 53 53 0 0 0 \
Manhattan 13 121 121 0 4 0 \
Manhattan 14 115 116 0 1 0 \
Manhattan 17 94 94 0 1 0 \
Manhattan 18 104 103 1 1 0 \
Manhattan 19 111 112 0 1 0 \
Manhattan 20 46 46 0 0 0 \
Manhattan 22 6 6 0 0 0 \
Manhattan 23 27 27 0 0 0 \
Manhattan 24 48 48 0 0 0 \
Manhattan 25 39 39 0 1 0 \
Manhattan 26 25 25 0 0 0 \
Manhattan 28 39 39 0 0 0 \
Manhattan 30 26 26 0 0 0 \
Manhattan 32 50 50 0 3 0 \
Manhattan 33 23 23 0 0 0 \
Manhattan 34 42 42 0 0 0"

table16_Bronx_BM = "Bronx 40 79 79 0 0 0 \
Bronx 41 30 30 0 0 0 \
Bronx 42 30 30 0 6 0 \
Bronx 43 52 53 0 0 0 \
Bronx 44 47 48 0 3 0 \
Bronx 45 30 30 1 0 0 \
Bronx 46 33 35 0 2 0 \
Bronx 47 33 33 0 0 0 \
Bronx 48 32 33 0 0 0 \
Bronx 49 36 36 1 0 0 \
Bronx 50 18 18 0 1 0 \
Bronx 52 44 45 1 1 0"

table16_Brooklyn_BM = "Brooklyn 60 28 29 0 1 0 \
Brooklyn 61 74 72 2 3 0 \
Brooklyn 62 79 79 0 0 0 \
Brooklyn 63 27 27 0 0 0 \
Brooklyn 66 116 116 0 2 0 \
Brooklyn 67 81 82 0 3 0 \
Brooklyn 68 46 47 0 0 0 \
Brooklyn 69 26 26 0 0 0 \
Brooklyn 70 114 113 1 2 0 \
Brooklyn 71 71 70 1 0 0 \
Brooklyn 72 102 103 0 1 0 \
Brooklyn 73 47 47 0 3 0 \
Brooklyn 75 100 101 1 4 0 \
Brooklyn 76 35 36 0 0 0 \
Brooklyn 77 76 77 0 2 0 \
Brooklyn 78 89 89 1 0 0 \
Brooklyn 79 108 110 0 0 0 \
Brooklyn 81 55 55 0 1 0 \
Brooklyn 83 98 97 1 1 0 \
Brooklyn 84 63 63 0 0 0 \
Brooklyn 88 106 106 1 3 0 \
Brooklyn 90 198 199 1 2 0 \
Brooklyn 94 83 83 0 0 0"

table16_Queens_BM = "Queens 100 7 7 0 0 0 \
Queens 101 15 15 0 1 0 \
Queens 102 48 48 0 1 0 \
Queens 103 31 31 0 0 0 \
Queens 104 82 82 0 2 0 \
Queens 105 32 32 0 0 0 \
Queens 106 41 41 0 0 0 \
Queens 107 35 35 0 1 0 \
Queens 108 101 102 0 3 0 \
Queens 109 79 80 0 0 0 \
Queens 110 96 98 1 1 0 \
Queens 111 20 19 1 1 0 \
Queens 112 30 30 0 0 0 \
Queens 113 39 42 0 1 0 \
Queens 114 123 123 0 0 0 \
Queens 115 109 110 1 2 0"

table16_StatenIsland_BM = "StatenIsland 120 33 33 0 1 0 \
StatenIsland 121 19 19 0 2 0 \
StatenIsland 122 16 15 1 0 0 \
StatenIsland 123 5 5 0 0 0"

In [7]:
def make_array(string):
    return np.array(string.split(" ")).reshape((-1, 7))

columns = ['burrow',
           'precinct',
           'crashes',
           'Bicyclist Injuries',
           'Bicyclist Fatalities',
           'Motor Vehicle Occupant Injuries',
           'Motor Vehicle Occupant Fatalities'
           ]


def unify_into_df(burrow_strings):
    return pd.DataFrame([
        *make_array(burrow_strings[0]),
        *make_array(burrow_strings[1]),
        *make_array(burrow_strings[2]),
        *make_array(burrow_strings[3]),
        *make_array(burrow_strings[4])],
        columns=columns)


Table_14_BM = unify_into_df([
    table14_Manhattan_BM,
    table14_Bronx_BM,
    table14_Brooklyn_BM,
    table14_Queens_BM,
    table14_StatenIsland_BM
])
Table_15_BM = unify_into_df([
    table15_Manhattan_BM,
    table15_Bronx_BM,
    table15_Brooklyn_BM,
    table15_Queens_BM,
    table15_StatenIsland_BM
])
Table_16_BM = unify_into_df([
    table16_Manhattan_BM,
    table16_Bronx_BM,
    table16_Brooklyn_BM,
    table16_Queens_BM,
    table16_StatenIsland_BM
])

In [8]:
Table_14_BM.to_csv('data/nyc/KSI14_BM.csv', encoding='utf-8', index=False)
Table_15_BM.to_csv('data/nyc/KSI15_BM.csv', encoding='utf-8', index=False)
Table_16_BM.to_csv('data/nyc/KSI16_BM.csv', encoding='utf-8', index=False)