In [1]:
import pandas as pd
import numpy as np
from scipy.interpolate import CubicSpline
import pickle

In [2]:
all_dfs = pickle.load(open('all_dfs.pkl', 'rb'))

In [3]:
all_precincts = ['1', '5', '6', '7', '9', '10', '13', '14', '17', '18', '19', '20', '22',
       '23', '24', '25', '26', '28', '30', '32', '33', '34', '40', '41', '42',
       '43', '44', '45', '46', '47', '48', '49', '50', '52', '60', '61', '62',
       '63', '66', '67', '68', '69', '70', '71', '72', '73', '75', '76', '77',
       '78', '79', '81', '83', '84', '88', '90', '94', '100', '101', '102',
       '103', '104', '105', '106', '107', '108', '109', '110', '111', '112',
       '113', '114', '115', '120', '121', '122', '123']

In [4]:
bike_count = np.zeros(shape=len(all_precincts), dtype='int64')

for key in list(all_dfs.keys()):
    all_dfs[key] = all_dfs[key].loc[np.all(all_dfs[key].notna(), axis=1)]
    u, c = np.unique(all_dfs[key], return_counts=True)
    c = c[np.argsort(list(map(int, list(u))))]

    diff = list(map(int, list(set(all_precincts) - set(u))))
    diff.sort()
    diff = list(map(str, diff))

    for precinct in diff:
        idx = all_precincts.index(precinct)
        c = np.insert(c, idx, 0)
    
    bike_count = np.vstack([bike_count, c/2])

bike_count = bike_count[1:]

In [5]:
df = pd.DataFrame(bike_count, columns=all_precincts)

In [6]:
df.head()

,1,5,6,7,9,10,13,14,17,18,...,110,111,112,113,114,115,120,121,122,123
0,34782.5,17553.5,29745.0,10819.5,29580.5,28003.0,36118.5,44401.0,19588.0,25516.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,25988.5,14142.5,24019.0,8092.0,23946.5,21520.5,27951.5,30917.0,13964.0,16159.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,52251.0,26549.5,44865.0,15217.5,42675.0,41449.0,53198.0,62522.0,27272.5,35970.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,85821.0,40936.0,73288.5,20873.5,63335.0,64474.0,74846.5,90386.0,41948.0,55582.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,120570.0,55464.5,92629.0,28127.5,79449.5,82365.0,97697.5,109153.0,51942.5,67909.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
df.iloc[:, 50:70].describe()

,79,81,83,84,88,90,94,100,101,102,103,104,105,106,107,108,109,110,111,112
count,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000,67.0,67.0,67.0,67.0,67.000000,67.0,67.0,67.0,67.000000,67.0,67.0,67.0,67.0
mean,10504.753731,2185.738806,1021.082090,38282.402985,27233.253731,19683.865672,34548.298507,0.0,0.0,0.0,0.0,14.470149,0.0,0.0,0.0,8164.761194,0.0,0.0,0.0,0.0
std,7205.358786,1921.822820,2795.734872,21212.735839,13165.448121,14765.010804,27075.071216,0.0,0.0,0.0,0.0,91.459334,0.0,0.0,0.0,7239.702301,0.0,0.0,0.0,0.0
min,697.000000,0.000000,0.000000,4637.500000,4811.500000,692.000000,417.500000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
25%,4258.500000,0.000000,0.000000,23396.750000,18382.750000,7715.250000,4840.250000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
50%,9345.000000,1861.500000,0.000000,32115.500000,23333.500000,16019.500000,32094.500000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,7388.500000,0.0,0.0,0.0,0.0
75%,15053.500000,3658.000000,0.000000,52263.000000,34618.500000,29014.500000,55223.250000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,12150.000000,0.0,0.0,0.0,0.0
max,25662.000000,6136.000000,10423.500000,81844.500000,53626.500000,58433.500000,90989.000000,0.0,0.0,0.0,0.0,704.000000,0.0,0.0,0.0,24095.000000,0.0,0.0,0.0,0.0

In [14]:
df.loc[:, '90']

0      1342.5
1      1203.5
2      2621.5
3      4894.0
4      6617.0
       ...
62    55598.5
63    58433.5
64    43960.0
65    29009.5
66    18012.5
Name: 90, Length: 67, dtype: float64

In [8]:
df.iloc[5, 0]

135854.0

In [9]:
np.interp(5.5, list(range(0, 84)), df.iloc[:, 0].to_numpy())

ValueError: fp and xp are not of the same length.

In [ ]:
df.iloc[5:7, 0].mean()

In [ ]:
cs = CubicSpline(list(range(0, 84)), df.iloc[:, 0].to_numpy())

In [ ]:
cs(5.5)